#mainTitle {
  margin: 30px auto;
  max-width: 1000px;
  position: relative;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#title {
  text-align: center;
}

#visflare {
  vertical-align: middle;
  width: 7%;
  height: 7%;
}
* {
  font-family: Helvetica, sans-serif;
}
body {
  background-color: rgba(203, 237, 255, 0.222);
}
h1 {
  text-align: center;
}
img {
  text-align: center;
}
